markdown-captions
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material==9.7.1
mkdocs-material-extensions==1.3.1
pymdown-extensions
mdx-include
git+https://github.com/suricactus/mdx_iconify@b64d75cee132cd0087ae21055e7a9955721d5c44#egg=mdx_iconify
